@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir-Next";
}


#root {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 110vh;
}

.button {
   font-size: 18px;
   font-weight: 600;
   font-family: "Times New Roman", Times, serif;
   color: rgb(66, 0, 147);

   box-sizing: content-box;
   width: 70%;
   height: 8vh;
   background-color: #ffffff;
   border-radius: 40px;
   margin: 12rem 2.5rem 0 2.5rem;
  
    &:hover {
        cursor: pointer;
        animation: shake 0.85s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;

        vertical-align: middle;
        transform: perspective(10px) translateZ(0);
        box-shadow: 0 0 30px rgb(255, 168, 80);
        position: relative;
      }
      
      @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
      }

      @include tablet {
        box-sizing: content-box;
        background-color: #ffffff;
        font-size: 24px;
        width: 58%;
        margin: 26.5rem 1rem 0 1rem;
      
      }

      @include desktop {
        box-sizing: content-box;
        background-color: #ffffff;
        font-size: 28px;
        margin: 26.5rem 1rem 0 1rem;
      
      }
      
  }
  
  